@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
 
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.customcontainer {
  position: relative;
  width: 100%;
  margin-top:4rem;
  min-height: 90vh;
  background:linear-gradient(black,rgb(37, 34, 34),rgb(90, 80, 80),rgb(83, 50, 50));
  overflow: hidden;

}

/* Forms Container */
.cforms-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.csignin-signup {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}




form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: all 0.2s 0.7s;
  border: none;
}

form.csign-up-form {
  background-color: rgba(255, 255, 255, 0.291);
  border: none;
  opacity: 0;
  z-index: 1;
}

form.csign-in-form {
  background-color:  rgba(255, 255, 255, 0.291);
  border: none;
  z-index: 2;
}

/* Form Titles */
.ctitle {
  font-size: 2.2rem;
  color: rgb(177, 177, 255);
  margin-bottom: 10px;
}

/* Input Fields */
.cinput-field {
  max-width: 380px;
  width: 100%;
  background-color: #ece1ff;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  padding: 0 0.4rem;
}

.cinput-field i {
  text-align: center;
  line-height: 55px;
  font-size: 1.1rem;
  color: #acacac;
  transition: 0.5s;
}

.cinput-field input {
  background: none;
  border: none;
  outline: none;
  font-weight: 600;
  margin-top: .5rem;
  font-size: 1.1rem;
}

.ceye {
  position: relative;
  top: 1rem;
  right: -1.5rem;
  cursor: pointer;
  fill: #04befe;
}

.cinput-field input::placeholder {
  color: rgb(74, 74, 108);
  font-weight: 600;
}

/* Social Media */
.csocial-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.csocial-media {
  display: flex;
  justify-content: center;
}

.csocial-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.csocial-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

/* Buttons */
.btn {
  width: 150px;
  height: 49px;
  background-color: #5995fd;
  border: none;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

/* Panels Container */
.cpanels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.customcontainer:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  border-radius: 50%;
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.cpanel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.cpanel .ccontent {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.cpanel h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

.cpanel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

/* Left Panel */
.cleft-panel {
  padding: 3rem 17% 2rem 12%;
  pointer-events: all;
}

/* Right Panel */
.cright-panel {
  padding: 3rem 12% 2rem 17%;
  pointer-events: none;
}

.cright-panel .cimage,
.cright-panel .ccontent {
  transform: translateX(800px);
}

/* Animation */
.customcontainer.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.customcontainer.sign-up-mode .cleft-panel .cimage,
.customcontainer.sign-up-mode .cleft-panel .ccontent {
  transform: translateX(-800px);
}

.customcontainer.sign-up-mode .csignin-signup {
  left: 25%;
}

.customcontainer.sign-up-mode form.csign-up-form {
  opacity: 1;
  z-index: 2;
}

.customcontainer.sign-up-mode form.csign-in-form {
  opacity: 0;
  z-index: 1;
}

.customcontainer.sign-up-mode .cright-panel .cimage,
.customcontainer.sign-up-mode .cright-panel .ccontent {
  transform: translateX(0%);
}

.customcontainer.sign-up-mode .cleft-panel {
  pointer-events: none;
}

.customcontainer.sign-up-mode .cright-panel {
  pointer-events: all;
}

/* Responsive Styles */
@media (max-width: 870px) {
  .customcontainer {
    flex-direction: column;
    min-height: 800px;
  }

  .cpanels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .cpanel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .customcontainer:before {
    height: 1500px;
    width: 1500px;
    transform: translateX(-50%);
    left: 30%;
    top: initial;
    bottom: 68%;
  }

  .customcontainer.sign-up-mode:before {
    bottom: 32%;
  }

  .csignin-signup {
    top: 95%;
    left: 50%;
    transform: translate(-50%, -100%);
  }
}

@media (max-width: 570px) {
  .cpanel .ccontent {
    padding: 0.5rem 1rem;
  }

  .cimage {
    display: none;
  }

  .customcontainer {
    padding: 1.5rem;
  }

  .customcontainer:before {
    bottom: 72%;
    left: 50%;
  }

  .customcontainer.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
