/* Container */
.workout-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 3rem 0;
    margin-top:4rem ;
    background: linear-gradient(black, rgb(37, 34, 34), rgb(90, 80, 80), rgb(83, 50, 50));
    color: white;
    min-height: 80vh;
  }
  
  /* Title */
  .title {
    font-size: 3rem;
    color: lavender;
    font-weight: 900;
    text-align: center;
  }
  
  /* Search Bar */
  .wsearch-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
  }
  
  .search-bar {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
  
  .dropdown {
    padding: 0.75rem 1rem;
    background-color: rgba(240, 248, 255, 0.249);
    border-radius: 0.5rem;
    color: rgb(230, 206, 255);
    font-weight: 700;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
  }
  .dropdown option{
    background-color: rgba(240, 248, 255, 0.167);
  }

  .search-button1 {
    position: relative;
    top: -1.2rem;
    padding: 0.75rem 1.5rem;
    background-color: rgb(94, 219, 16);
    color: white;
    font-size: 1rem;
    font-weight: 900;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button1:hover {
    background-color: darkgreen;
  }
  
  /* Placeholder & Loading Text */
  .placeholder-text,
  .loading-text {
    font-size: 1.25rem;
    text-align: center;
    color: rgb(209, 189, 255);
  }
  
  /* Exercise List */
  .exercise-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
  }
  
  .exercise-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: rgba(200, 200, 200, 0.461);
    border-radius: 1rem;
    width: 18rem;
    min-height: 15rem;
    text-align: center;
  }
  
  .exercise-image {
    max-height: 10rem;
  }
  
  .exercise-name {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 0.5rem;
    text-transform: capitalize;
  }
  